{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Donor Profile</title>
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- External CSS -->
     <link rel="stylesheet" href="{% static 'css/donor_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/donor_profile.css' %}">
    </head>
    <body>
<div class="d-flex">

    <!-- SIDEBAR -->
    <div class="sidebar">

        <!-- LOGO -->
        <div class="logo text-center mb-4">

            <img src="{% static 'images/bloodlogo1.png' %}"
                 alt="Blood Connect Logo"
                 width="70"
                 height="70">

            <h4 class="mt-2">
                Blood Connect
            </h4>

        </div>

        <!-- MENU -->

        <a href="{% url 'donorpage' %}">
            Home
        </a>

        <a href="{% url 'camps' %}">
            Find Camps
        </a>

        <a href="{% url 'donor_requests' %}">
            Requests
        </a>

        <a href="{% url 'donations' %}">
            My Donations
        </a>
        <a href="{% url 'donor_notification' %}">Notification</a>

        <a href="{% url 'rewards' %}">Rewards</a>

        <a href="{% url 'donor_profile' %}">
             Profile
        </a>

        <a href="{% url 'user_logout' %}">
             Logout
        </a>

        <!-- FOOTER -->

        <div class="sidebar-footer text-center">

            <img src="{% static 'images/navside.png' %}"
                 alt="Footer Image"
                 class="img-fluid">

            <h5 class="mt-3">
                Thank You!
            </h5>

            <p>
                You are a hero for saving lives
            </p>

        </div>

    </div>
    <div class="flex-grow-1">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">

            <div class="container-fluid">

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav">

                    <span class="navbar-toggler-icon"></span>

                </button>

            </div>

    </nav>
    <div class="main-content">
        <div class="profile-card">
        <h2>Donor Profile</h2>
            <div class="profile-content">
                <img src="https://i.pravatar.cc/200" class="img-fluid rounded-circle" alt="profile">
                <h2>{{ donor.first_name }} {{ donor.last_name }}</h2>

                <div class="blood">
                    {{ donor.bloodgroup }}
                </div>
            </div>
            <div class="details">
                 <div class="row">
                    <div class="label">First Name:</div>
                    <div class="value">{{ donor.first_name }}</div>
                </div>
                <div class="row">
                    <div class="label">Last Name:</div>
                    <div class="value">{{ donor.last_name }}</div>
                </div>
                <div class="row">
                    <div class="label">Email:</div>
                    <div class="value">{{donor.email}}</div>
                </div>
                <div class="row">
                    <div class="label">Phone Number:</div>
                    <div class="value">{{ donor.phone}}</div>
                </div>
                <div class="row">
                    <div class="label">Gender:</div>
                    <div class="value">{{donor.gender}}</div>
                </div>
                <div class="row">
                    <div class="label">Country:</div>
                    <div class="value">{{ donor.country }}</div>
                </div>
                <div class="row">
                    <div class="label">State:</div>
                    <div class="value">{{donor.state}}</div>
                </div>
                <div class="row">
                    <div class="label">District:</div>
                    <div class="value">{{donor.district}}</div>
                </div>
                <div class="row">
                    <div class="label">City/town:</div>
                    <div class="value">{{donor.city_town}}</div>
                </div>
                <div class="row">
                    <div class="label">Pincode:</div>
                    <div class="value">{{donor.pincode}}</div>
                </div>
                <div class="row">
                    <div class="label">Person:</div>
                    <div class="value">{{ donor.person }}</div>
                </div>
                <div class="row">
                    <div class="label">Blood Group:</div>
                    <div class="value">{{donor.bloodgroup}}</div>
                </div>
                <div class="row">
                    <div class="label">Date Of birth:</div>
                    <div class="value">{{ donor.dob }}</div>
                </div>
                <div class="text-center">
                     <a href="{% url 'edit_donor_profile' %}" class="btn btn-danger">
    Edit Profile
</a>
            </div>
        </div>
        </div>    
    </div>    
    </div>

    </body>
</html>